body {
  background-color: #fcfcff;
}

#main_container {
  height: 90%;
}

#button_container {
  overflow: hidden; /** so that not height becomes 0 */
}

#button_container.noCode {
  width: 62%;
}

#button_container.withCode {
  width: 99%;
}

#showSrcButton {
  color: blue;
  cursor: pointer;
  float: right;
}

#hide_button_container {
  float: right;
}

#hideSrcButton {
  color: blue;
  cursor: pointer;
}

#time_unit {
  font-size: .7em;
  margin-left: 25px;
  margin-right: 4px;
}

#left_container {
  width: 62%;
  height: 100%;
  float: left;
}

#outer_script_table_container {
  height: 270px;
}

#script_table_container {
  overflow: hidden;
  height: 270px;
}

#script_table_container.withCode {
  position: absolute; 
  width: 98%;
}

#script_table_container.noCode {
  position: relative; 
  width: 100%;
}

#script_table {
  margin: 0px;
}

.successLine {
  background-color: #dbf99d;
}

.errorLine {
  background-color: #ffe4e1;
}

.notRunLine {
  background-color: #e7e8e2;
}

#err_msg_container {
  width: 100%;
}

#err_msg {
  color: #f1393c; 
}

#right_container {
  width: 35%;
  height: 100%;
  float: right;
  margin-right: 1%;
}

#bxslider_container.noCode {
  float: right;
  position: relative;
}

#bxslider_container.withCode {
  bottom: 20px;
  right: 2%;
  position: absolute;
}

.bxslider > li > div {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
}

.bxslider > li > div > img {
  overflow: hidden;
  width: 100%;
  height: auto;
}

#methodArgTestDocs {
  display: none;
}

.hiddenMethodArgTestDoc {
  display: none;
}

#localeData {
  display: none;
}

.numeric_cell {
  text-align: right;
}