<html>
  <head>
    <meta charset="utf-8">
    <title>${title}</title>
    <script src="${externalResourceRootDir}/js/share/common-utils.js"></script>
    <script src="${externalResourceRootDir}/js/share/capture-style.js"></script>
    <script src="${externalResourceRootDir}/js/share/yaml/js-yaml.min.js"></script>
    <script src="${externalResourceRootDir}/js/share/yaml/yaml-utils.js"></script>
    <script src="${externalResourceRootDir}/js/share/srctree/code/code.js"></script>
    <script src="${externalResourceRootDir}/js/share/srctree/code/string-code.js"></script>
    <script src="${externalResourceRootDir}/js/share/srctree/code/method-argument.js"></script>
    <script src="${externalResourceRootDir}/js/share/srctree/code/unknown-code.js"></script>
    <script src="${externalResourceRootDir}/js/share/srctree/code/sub-method-invoke.js"></script>
    <script src="${externalResourceRootDir}/js/share/srctree/code/local-var.js"></script>
    <script src="${externalResourceRootDir}/js/share/srctree/code/field.js"></script>
    <script src="${externalResourceRootDir}/js/share/srctree/code/var-assign.js"></script>
    <script src="${externalResourceRootDir}/js/share/srctree/code/class-instance.js"></script>
    <script src="${externalResourceRootDir}/js/share/srctree/code/test-step.js"></script>
    <script src="${externalResourceRootDir}/js/share/srctree/code/test-step-label.js"></script>
    <script src="${externalResourceRootDir}/js/share/srctree/code/code-line.js"></script>
    <script src="${externalResourceRootDir}/js/share/srctree/test-class.js"></script>
    <script src="${externalResourceRootDir}/js/share/srctree/page-class.js"></script> 
    <script src="${externalResourceRootDir}/js/share/srctree/test-field.js"></script>
    <script src="${externalResourceRootDir}/js/share/srctree/test-field-table.js"></script>
    <script src="${externalResourceRootDir}/js/share/srctree/test-method.js"></script>
    <script src="${externalResourceRootDir}/js/share/srctree/test-method-table.js"></script>
    <script src="${externalResourceRootDir}/js/share/srctree/test-class-table.js"></script>
    <script src="${externalResourceRootDir}/js/share/srctree/src-tree.js"></script>
    <script src="${externalResourceRootDir}/js/share/testdoc-resolver.js"></script>

    <link href="${externalResourceRootDir}/css/perfect-scrollbar.min.css" rel="stylesheet" type="text/css" />
    <link href="${externalResourceRootDir}/css/jquery.treetable.css" rel="stylesheet" type="text/css" />
    <link href="${externalResourceRootDir}/css/jquery.treetable.theme.default.css" rel="stylesheet" type="text/css" />
    <link href="${externalResourceRootDir}/css/jquery.bxslider.css" rel="stylesheet" type="text/css" />
    <link href="${externalResourceRootDir}/css/report.css" rel="stylesheet" type="text/css" />

    <script src="${externalResourceRootDir}/js/report/jquery-1.11.1.min.js"></script>
    <script src="${externalResourceRootDir}/js/report/perfect-scrollbar.min.js"></script>
    <script src="${externalResourceRootDir}/js/report/jquery.treetable.js"></script>
    <script src="${externalResourceRootDir}/js/report/jquery.bxslider.min.js"></script>
    <script src="${externalResourceRootDir}/js/report/src-tree-yaml.js"></script>
    <script src="${externalResourceRootDir}/js/report/report.js"></script>
    <script>
      sahagin.errLineTtId = "${errLineTtId}";
    </script>
  </head>
  <body>
    <header>
      #if ( ${classTestDoc} )
      <div>${classTestDoc} (${className})</div>
      #else
      <div>${className}</div>
      #end
      #if ( ${methodTestDoc} )
      <div>${methodTestDoc} (${methodName})</div>
      #else
      <div>${methodName}</div>
      #end
    </header>
    <div id="main_container">
      <div id="button_container">
        <div id="showSrcButton" onclick="showSrcInfo()"><u>${msgShowCode} &gt;&gt;</u></div>
        <div id="hideSrcButton" onclick="hideSrcInfo()"><u>&lt;&lt; ${msgHideCode}</u></div>
      </div>
      <div id="left_container">
        <div id="outer_script_table_container" class="noCode">
          <div class="scrollContainer" id="script_table_container">
            <table border="1" cellpadding="1" cellspacing="1" id="script_table">
              <tbody>
                #foreach( $codeLine in $codeBody )
                #if( ${codeLine.hasError()} )
                  #set( $lineClass = "errorLine" )
                #elseif( ${codeLine.isAlreadyRun()} )
                  #set( $lineClass = "successLine" )
                #else
                  #set( $lineClass = "notRunLine" )
                #end
                #if( ${codeLine.getParentTtId()} )
                  #set( $dataTtParentId = "data-tt-parent-id=""${codeLine.getParentTtId()}""" )
                #else
                  #set( $dataTtParentId = "" )
                #end
                #if( ${codeLine.isChildLoaded()} )
                  #set( $loadedClass = "loaded" )
                #else
                  #set( $loadedClass = "" )
                #end
                <tr data-tt-id="${codeLine.getTtId()}" ${dataTtParentId} data-image-id="${codeLine.getImageId()}" data-method-key="${codeLine.getMethodKey()}" class="${lineClass} ${loadedClass}">
                  <td>${codeLine.getPageTestDoc()}</td>
                  <td>${codeLine.getTestDoc()}</td>
                  <td class="srcInfo">${codeLine.getCodeLine().getCode().getOriginal()}</td>
                </tr>
                #end
              </tbody>
            </table>
          </div>
        </div>
        <br/>
        <div id="msg_container">
          #if( ${errMsg} )
          <div id="err_msg_container">
            [Error]
            <br />
            <span id="err_msg">${errMsg}</span>
          </div>
          #end
        </div>
      </div>
      <div id="right_container">
        <div id="bxslider_container">
        <ul class="bxslider">
          #foreach( $capture in $captures )
          <li>
            <div data-image-id="${capture.getImageId()}" data-image-width="${capture.getImageWidth()}" data-image-height="${capture.getImageHeight()}" class="scrollContainer">
              <img src="${capture.getPath()}" />
            </div>
          </li>
          #end
        </ul>
      </div>
    </div>
    <div id="methodArgTestDocs">
      #foreach( $codeLine in $codeBody )
        #foreach ( $methodArgTestDoc in ${codeLine.getMethodArgTestDocs()} )
        <div class="hiddenMethodArgTestDoc" data-tt-id="${codeLine.getTtId()}">${methodArgTestDoc}</div>
        #end
      #end
    </div>
    <div id="localeData">
      <div id="codeLineWithoutTestDoc">${codeLineWithoutTestDoc}</div>
      <div id="jsLocalVar">${jsLocalVar}</div>
      <div id="jsVarAssign">${jsVarAssign}</div>
    </div>
  </body>
</html>